body{
  background:#1e2029;
  font-family: sans-serif;
  color: lightgrey;
  max-width:900px;
  margin:auto;
}

input{
    background:#2c2e37;
    color:lightgrey;
}
textarea{
  background:#2c2e37;
  color:lightgrey;
}
button{
  background:#2c2e37;
  color:lightgrey;
}
a{
  color: gainsboro;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}