{%extends "model-page.html"%}
{%block content%}
<h2>Agendamentos</h2>
<a href="evento/">
  <button type="button">Adicionar Evento</button>
</a>
<ul style="font-size:18px">
  {%for evento in eventos%}
    <li>
      <div {%if evento.get_data_atrasado%} style="color:red" {%endif%}{%if evento.get_data_comecando%}style="color:#e3c505"{%endif%}>
        {{evento.titulo}} - {{evento.data_evento}} -{%if evento.local is not None%} {{evento.local}}{%endif%}
        (<a href="evento/?id={{evento.id}}">Editar</a> - <a href="evento/delete/{{evento.id}}">Apagar</a>)
      </div>
    </li>
  {%endfor%}
</ul>
<a href="historico/">
  <button type="button">Histórico</button>
</a>
{%endblock%}
